<?xml version="1.0" encoding="utf-8"?>
<!--指定数据库连接字符串（名称/值对的形式）的集合。-->
<connectionStrings>
  <add name="Connection String" connectionString="36F8A8905A5BAAF4307011FBE6CF2BE768697DB712903EB5A29BC775612961DF173C484EDE2D0E085DE32C2B4C2623DB7AC90F3D5A3CD783C40656D92CDC57A05F38D4F6499D0060FDBF5A524698EE12" providerName="System.Data.SqlClient" />
  <add name="Plug Connection String" connectionString="Data Source=(local);Initial Catalog=kingdee;User ID=kingdee;Password=kingdee" providerName="System.Data.SqlClient" />
  <add name="OraConnection String" connectionString="Data Source=ZoomLa;User ID=zoomla;Password=zoomla" providerName="System.Data.OracleClient" />
</connectionStrings>